/* Primary selectors*/



body
{
background-image: url('LandschaftHintergrund.jpg');
   	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;



.bg-image {
      opacity: 0.5;
    }
	
.background{
	opacity(0.5);}
	
	
.background{background: rgb(254 239 195 / 47%);}

}

.header {
  padding: 15px;
  text-align: center;
  background: #5d814e;
  color: white;
  font-size: 20px;
}


	
H1 {
		
		color:white; 
		font-size:200%;
		font-family: “Comic Sans MS”, “Comic Sans”, cursive;
	
}

	
H2 {
		
		color:white; 
		font-size:110%;
		margin-left: 200px; 		
	
}



	
H3 {
		
		color:blue; 
		font-size:100%;
		margin-left: -40px; 		
		font-family: “Comic Sans MS”, “Comic Sans”, cursive;
}




.testClass {
	color:red;
	font-size:300%;
	
	
}


.regular {
	color: white;
	font-size:100%;
	
	
}


table {
		
	width: 500px;
	border-collapse: collapse;
	table-layout: fixed;
}


td {
	vertical-align: top;
	padding: 5px;
	word-wrap: break-word;
	
}


/* ID´s and classes*/

#fullpage {
	margin: 100px;
	
}


	
.label_col {
		text.align: right;
		}


.input_col {
		text.align: left;
		}
		
.feedback_col {
	text-align: center;
	vertical-align: middle;
	color: lightgrey;
	font-size: small;
	
	}
	
.Button {
	margin: auto;
	text-align: center;
	widht: 50px;
	
	}


p {
	
		color:white; 
		font-size:120%;
		margin-left: 0px;

}

/* Color of text is Telemagenta HEX code #BB3E77*/

div {
	
	display: block;
	font-size:100%;
	strong;
	color: Black;
}



	
	
	/* Image Gallery*/
	
	
	div.gallery {
	  margin: 20px;
	  border: 1px solid #ccc;
	  float: left;
	  width: 250px;
	  color: red;
	}
	
	div.gallery:hover {
	  border: 1px solid #777;
	}
	
	div.gallery img {
	  width: 100%;
	  height: auto;
	}
	
	div.desc {
	  padding: 15px;
	  text-align: center;
	 color: black;
	background-color: #f1f1f1;
	}
	


